<div class="flex h-full w-full bg-cover bg-center" style="background-image: url(../assets/background/16_9_bg.png);">
	
	<div class="static bg-stone-500 h-[90%] w-[25%] my-auto ml-10 flex flex-row items-center rounded-sm overflow-hidden">

		<img class="absolute h-24 w-24 top-[4rem] left-[4rem] opacity-65" src="../assets/misc/d20.png" />

		<div class="absolute left-[17.5rem] flex flex-row items-center w-[20rem]">
			<div class="flex flex-col">
				<div class="text-white font-bold text-8xl font-mono">
					Nyctariel
				</div>
				<div class="text-white font-bold font-mono mt-5 w-[50%]">
					The world of the ever changing light and darkness, or the abscense of the cycle.
				</div>
			</div>
		</div>

		<div class="relative bottom-0 left-0 self-end">
			<img src="../assets/misc/waves.png" />
		</div>

		<div routerLink="repository" class="absolute bottom-[6rem] left-[23rem] p-5 rounded-sm bg-white flex flex-row items-center shadow-2xl cursor-pointer transition-transform transform hover:scale-105">
			<div class="font-bold text-xl self-center">
				Venture Forth
			</div>
			<div class="self-center ml-5">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-8 h-8">
					<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
				</svg>				  
			</div>
		</div>

	</div>
	
	<div class="absolute bottom-0 right-0 bg-stone-900 py-10 px-20 h-[35%] w-[30%] shadow-box">
		<div class="font-bold font-mono text-amber-600 text-2xl">
			About this Repository
		</div>
		<div class="text-stone-500 text-lg">
			<p class="mt-4">
				This is a DnD 5e extension. It contains unique classes as well as redesigned ones. The world of Nyctariel has it's own races, items and monsters as well.
			</p>
			<p class="mt-4">
				Please note that this is a work of fiction, designed solely for it's own universe and might feel off in other locations.
			</p>
		</div>
	</div>

</div>
